<nav class= "navbar navbar-expand-md navbar-light bg-dark sticky-top">
	<div class= "container-fluid justify-content-between">
		<a class ="navbar-brand" href="#"></a>
		<button class= "navbar-toggler" type = "button" data-toggle= "collapse" data-target="#navabarResponsive">
			<span class= "navbar-toggler-icon"></span>
		</button>
		<div class= "collapse navbar-collapse" id="navabarResponsive">
			<ul class="navbar-nav ml-auto" style="text-align: center">

				<% if current_admin_user %>
					<li class="nav-item active">
					 <%= link_to current_admin_user.email, new_session_path(current_admin_user),class: "nav-link" %>
					</li>
					<li class="nav-item active">
					 <%= link_to 'Logout', destroy_admin_user_session_path, method: :delete, class: "nav-link" %>
					</li>
				<% end %>

			</ul>
			
		</div>		
	</div>	
</nav>