<div class="about">
	
	<h1>About Shopping Zone</h1>
	<div class= 'row'>
		<div class ='col-md-3' style="margin-top: 3rem;">
			<%= image_tag "about.jpg", width: 320, alt: "about image" %>
		</div>

		<div class ='col-md-9 ' style="margin-top: 3rem;">
			<p>Welcome to Shopping Zone, your number one source for all things  ie: technical books, ecommerce and all varities of books. We're dedicated to giving you the very best of product, with a focus on three characteristics, ie: dependability, customer service and uniqueness.
			Founded in 2019 by Sathya teja Daggubati</p>
			<p>Shopping Zone has come a long way from its beginnings. When store founder first started out, his/her passion for [passion of founder, ie: helping other parents be more eco-friendly, providing the best equipment for his fellow musicians] drove him to [action, ie: do intense research, quit her day job], and gave him the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over [place, ie: the US, the world, the Austin area], and are thrilled to be a part of the [adjective, ie: quirky, eco-friendly, fair trade] wing of the [industry type, ie: fashion, baked goods, watches] industry.</p>
			
		</div>
	</div>
</div>
