<h3 class="mt-6">Items in Cart</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Once Upon an Algorithm</td>
      <td>$12.56</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Learn Rails-5.2</td>
      <td>$124.56</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Chasing New Horizons</td>
      <td>$34.55</td>
    </tr>
  </tbody>
</table>
