<main role="main" class="inner cover col-sm-6 col-md-6 col-xs-6 col-lg-12">
	<h1 class="cover-heading">Welcome</h1>
	<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
	<p class="lead">
		<%= link_to 'About', class: "btn btn-outline-white"%>
	</p>
</main>

