@import 'bootstrap';
@import "font-awesome";

/* Style for Header*/
.login-links {
	text-align: center;
	margin-top: 4rem;
}
.auth-links {
	color: black;
}

.login > .card-block {
	width: 22rem;
	margin: 0 auto;
}
.shared-links {
	color: black;
}
.login-links {
	text-align: center;
	margin-top: 4rem;
}

.logout-link {
	color: white;
}
.signup {
	border: none;
	width: 21rem;
	margin-left: 20rem;
	margin-top: 7rem;
}
@media (min-width: 1025px) {
	.signup {
		border: none;
		width: 21rem;
		margin-left: 25rem;
		margin-top: 7rem;
	} 
}