 @import 'bootstrap';

/* Style for Header*/
.login-links {
  text-align: center;
  margin-top: 4rem;
}
.auth-links {
  color: black;
}

.login > .card-block {
  width: 22rem;
  margin: 0 auto;
}
.shared-links {
  color: black;
}
.login-links {
  text-align: center;
  margin-top: 4rem;
}

.logout-link {
	color: white;
}