@import 'bootstrap';

html,
body {
  height: 100%;
}
body {
  text-align: center;
}


/* Padding for spacing */
.inner {
  padding-top: 8rem;
  padding: 6rem;
  text-align: center;
  color: white;
  margin-top:  6rem;
}
#background-image {
  position :fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -400;
  -webkit-transform: translateX(-30%) translateY(-70%);
  transform: translateX(-50%) translateY(-50%);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ43Sn5eJwJTr0WfGyVG6Be7mTJ5-pvJyvL_QxKo38bogFhDDW1xw");
  background-size: cover;
}
@media  (max-width: 768px) {
.container {
	text-align: center;
	position: fixed;
}
}

.row img {
	margin-top: -11rem;
}


.contact {
	margin-top: 4rem;
	color: white;
}
.contact a {
  color: black;
}

hr {
 height: 1px;
  color: white;
  background-color: white;
  border: none;
}
@media only (min-width: 319px) and (max-width: 375px) {
  .home {
    margin-top: 2rem;
  }

}

@media only (min-width: 767px) and (max-width: 769px) {
  .home {
    margin: 12rem;
  }

}

@media only (min-width: 315px) and (max-width: 376px) {
  .contact iframe{
    height: 9rem;
    width: 9rem;
  }

}