@import 'bootstrap';

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

  .carousel-item {
    height: 32rem;
    background-color: #777;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible; 
  }
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  carousel-item: image-url('carousel1.png') no-repeat;
    carousel-item: image-url('carousel2.png') no-repeat;
  carousel-item: image-url('carousel3.png') no-repeat;

}
.carousel-item img {
  object-fit: cover;
}

/* Bootstrap cards*/
 .card {
    float: left;
    width: auto;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border: 0 none;
    height: auto;
  }

.card-text {
  font-size: 88%;
}
.card img {
    border-style: none;
    height: 12rem;
    width: 12rem;
    object-fit: contain;
  }
div .card {
    border: none;
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .card {
    float: left;
    width: auto;
    padding: 17rem ;
    margin-bottom: 2rem;
    border: 0;
    height: auto;
  }

  .card > img {
    margin-bottom: .75rem;

  }
  div .card {
    border: none;
  }
}


@media screen and (max-width:513px) {
   .card {
    margin-bottom: 2rem;
    border: 0;
    height: auto;
    margin-left: 1rem;
  }

  .card > img {
    margin-bottom: .75rem;

  }
  div .card {
    border: none;
  }
}


@media only screen 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .card {
    float: left;
    width: auto;
    padding: 0rem  ;
    margin-bottom: 2rem;
    border: 0;
    height: auto;
    margin-left: 1rem;
  }

  .card > img {
    margin-bottom: .75rem;

  }
  div .card {
    border: none;
  }
}
@media only screen 
  and (min-width: 350px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .card {
    float: left;
    width: auto;
    padding: 0rem  ;
    margin-bottom: 2rem;
    border: 0;
    height: auto;
    margin-left: 1rem;
  }

  .card > img {
    margin-bottom: .75rem;

  }
  div .card {
    border: none;
  }
}


/* Style for Header*/

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.img-back {
	height: 25rem;
	width: 18rem;
}

.show {
margin-top: 2.8rem;
}
.show-banner {
margin-top: 2.6rem;

}