<div class= "card">
	<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
		<p class= "card-text">
			<span><%= link_to product.title, product_path(product) %></span>
			<p><span>Price: $<%= link_to product.price, product_path(product) %></span></p>
		</p>
</div>  

