<h1>Products</h1>
<!-- banner -->
<%= render "layouts/shared/banner" %>
<%= t "products.title" %>
<div class= "container">
	  <div class="row">
<%= render partial: 'product', collection: @products %>
</div>
</div>


