<h1>Products</h1>
<!-- banner -->
<div class= "row">
  <div class="col-12">
    <%= render "layouts/shared/banner" %>
  </div>
</div>

<div class= "row">
  <div class="col-12">
    <div class="card-columns">
      <%= render partial: 'product', collection: @products %>
    </div>
  </div>
</div>


